# Tuple

In [1]:
tup = (4, 5, 6)

In [2]:
tup = tuple("string")

In [3]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup[0]

's'

In [5]:
nested_tup = (4,5,6),(7,8)

In [6]:
nested_tup

((4, 5, 6), (7, 8))

In [7]:
nested_tup[0]

(4, 5, 6)

In [10]:
tup = tuple(['foo',[1,2],True])

In [11]:
tup[2] = True

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)

In [13]:
tup

('foo', [1, 2, 3], True)

In [14]:
tup2 = (4,None,'foo')+(6,0)+('bar',)

In [15]:
tup2

(4, None, 'foo', 6, 0, 'bar')

In [16]:
('foo','bar')*3

('foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### unpacking tuples

In [17]:
tup = (4, 5, 6)

In [19]:
a, b, c = tup

In [20]:
b

5

In [21]:
tup = 4 , 5, (6,7)

In [22]:
a, b, (c,d) = tup

In [23]:
d

7

In [24]:
a,b = 1, 2

In [25]:
a

1

In [26]:
b

2

In [27]:
b, a = a, b

In [28]:
a

2

In [29]:
b

1

In [31]:
# unpacking is commonly used to iterate in sequences
seq = [(1,2,3), (4,5,6), (7,8,9)]
for a, b, c in seq:
    print(f"a={a}, b={b}, c={c}")

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

# plucking elements
The * sign can be used to capture the remaining part of a tuple. It is commonly used with "rest" but it is just a convetion

In [32]:
values = 1, 2, 3, 4, 5
a, b, *rest =  values

In [33]:
a

1

In [34]:
b

2

In [35]:
rest

[3, 4, 5]

This is used in conjunction with the "_" character to discard elements. Note that _ is commonly used to store ignored returned values, there is nothing special with the character itself, it is just a programming convention

In [36]:
a, b, *_ = values

## tuple methods

In [40]:
# since tuple are immutable, are very light in available methods. Most used one is count:
a = (1,2,2,2,3,4,2)
a.count(2)

4

In [42]:
a.*?

# List

In [43]:
a_list = [2, 3, 7, None]

In [44]:
tup = ('foo','bar','baz')

In [45]:
b_list = list(tup)

In [46]:
b_list[1] = 'peekaboo'

In [47]:
b_list

['foo', 'peekaboo', 'baz']

In [48]:
gen = range(10)

In [49]:
gen

range(0, 10)

In [50]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
b_list.append('dwarf')

In [52]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [53]:
b_list.insert(1,'red')

In [54]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [55]:
b_list.pop(2)

'peekaboo'

In [57]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [58]:
b_list.remove('foo') # remove first element that matches the argument

In [60]:
b_list.append('foo')
b_list.append('bar')
b_list.append('foo')

In [61]:
b_list

['red', 'baz', 'dwarf', 'foo', 'bar', 'foo']

In [62]:
b_list.remove('foo')

In [63]:
b_list

['red', 'baz', 'dwarf', 'bar', 'foo']

In [64]:
'dwarf' in b_list

True

In [65]:
'dwarf' not in b_list

False

### concatenating lists

In [66]:
[4,'foo',None] + [7,8,(2,3)] # list concatenation by adding is computationally expensive

[4, 'foo', None, 7, 8, (2, 3)]

In [67]:
x = [4,'foo',None]
x.extend([7,8,(2,3)]) # extend is much more efficient

In [68]:
x

[4, 'foo', None, 7, 8, (2, 3)]

### sorting

In [70]:
a = [7, 2 ,5 ,1 ,3]

In [71]:
a.sort()

In [72]:
a

[1, 2, 3, 5, 7]

In [73]:
# it is possible to pass a sort key, i.e. a function used to do the sorting
b = ['saw', 'small','He','foxes','six']
b.sort(key=len)

In [74]:
b

['He', 'saw', 'six', 'small', 'foxes']

### slicing

In [77]:
seq = [7,2,3,7,5,6,0,1]

In [78]:
seq[1:5]

[2, 3, 7, 5]

In [79]:
seq[3:5] = [6,3]

In [80]:
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [81]:
seq[:5] # omitting the start defaults to zero

[7, 2, 3, 6, 3]

In [83]:
seq[3:] # omitting the end defaults to last element

[6, 3, 6, 0, 1]

In [84]:
seq[-4:] # negative values count from the end

[3, 6, 0, 1]

In [85]:
seq[-6:-2]

[3, 6, 3, 6]

In [86]:
seq[::2] # a third value can be used as step

[7, 3, 3, 0]

In [87]:
seq[::-1] # negative values read the sequence backwards

[1, 0, 6, 3, 6, 3, 2, 7]

In [88]:
seq[::-2]

[1, 6, 6, 2]

In [90]:
seq[5:1:-1]

[6, 3, 6, 3]

In [94]:
seq[7:3:-2]

[1, 6]

In [97]:
seq[-1:-5:-2]

[1, 6]

# Dictionary

Dictionaries are collections of keys and associated values. Values can be any Python object, while keys must be immutable objects like scalar types (int, float, string) or tuples. Strictly speaking they should be hashable object (an object my_obj can be checked if it is hashable with the hash(my_obj) function)

In [98]:
d1 = {'a': 'some value', 'b': [1,2,3,4]}

In [99]:
d1[7] = "an integer"

In [100]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [101]:
d1["b"]

[1, 2, 3, 4]

In [102]:
"b" in d1

True

In [105]:
7 in d1

True

In [106]:
d1[5] = "some value"

In [107]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [108]:
d1["dummy"] = "another value"

In [109]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [110]:
del d1[5]

In [111]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [112]:
ret = d1.pop("dummy")

In [113]:
ret

'another value'

In [114]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [117]:
list(d1.keys()) # return an iterator to the dict keys

['a', 'b', 7]

In [118]:
list(d1.values()) # return an iterator to the dict values

['some value', [1, 2, 3, 4], 'an integer']

In [119]:
list(d1.items()) # returns an iterator to tuples of (key, value) pairs

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [120]:
# merge one dictionary into another with update
d1.update({'b':"foo", "c":12, })  # note that it works inplace, existing keys will be replaced

In [121]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

### creating dictionaries from sequences

In [124]:
key_list = list(range(5))
value_list = list(reversed(range(5)))
mapping = {}
for key, value in zip(key_list,value_list):
    mapping[key] = value

In [125]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [127]:
# alternatively, you can pass a collection of 2-tuples to a dict:
tuples = zip(range(5),reversed(range(5)))

mapping_2 = dict(tuples)
mapping_2

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### default values

In [128]:
# the get function in a dict allows to have a default value that is returned if the key is not present:
# value = some_dict.get(key,default_value)
# E.g.
value = mapping.get(0,-2)

In [129]:
value

4

In [130]:
value = mapping.get(6,-2)

In [131]:
value

-2

In [133]:
# by default get returns None if the key is not present:
value = mapping.get(6)
print(value)

None

In [134]:
# you can set the default type of a slot in a dictionary with the defaultdict method in collections:

words = ["apple","bat","bar","atom", "book"]

from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [135]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [136]:
by_letter['a'][0]

'apple'

In [137]:
by_letter['b']='banana'

In [138]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': 'banana'})

# SET

A Set is an unordered collection of ***unique*** elements.

In [139]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [140]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [141]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [142]:
# it is equivalent to:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [144]:
a.intersection(b)

{3, 4, 5}

In [145]:
# it is equivalent to:
a & b

{3, 4, 5}

In [146]:
a.add(6)

In [147]:
a

{1, 2, 3, 4, 5, 6}

In [148]:
a.clear()

In [149]:
a

set()

In [150]:
b.remove(3)

In [151]:
b

{4, 5, 6, 7, 8}

In [152]:
b.pop()

4

In [155]:
b

{5, 6, 7, 8}

In [153]:
a = {1,2,3,4,5,6}

In [154]:
a - b

{1, 2, 3, 4}

In [156]:
a ^ b # all the elements in either a or b but not in both

{1, 2, 3, 4, 7, 8}

In [157]:
a <= b # true if all elements in a are in b

False

In [158]:
a >= b # true if all elements in b are in a

False

In [159]:
a.isdisjoint(b) # True if a and b have no elements in common

False

# Built in Sequence Functions

### enumerate

In [165]:
collection = list(range(2,10,2))

In [166]:
collection

[2, 4, 6, 8]

In [167]:
for index, value in enumerate(collection):
    print(f"{index} -> {value}")

0 -> 2
1 -> 4
2 -> 6
3 -> 8

### sorted

In [168]:
# returns a sorted list from the elements of any sequence
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [169]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

### zip

In [171]:
# pairs up elements of a number of sequences to create a list of tuples

seq1= ["foo","bar","baz"]
seq2= ["one","two","three"]

zipped = zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [173]:
# zip can take an arbitrary number of sequences, the number of tuples it produces is limited by the shortest sequence:
seq3 = [False, True]
zipped2 = zip(seq1,seq2,seq3)
list(zipped2)

[('foo', 'one', False), ('bar', 'two', True)]

### reversed

In [174]:
# iterates over the elements of a sequence in reverse order
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# List, Set and Dictionary Comprehensions

Take the basic form:

    [expr for value in collection if condition]

In [177]:
# example
strings = ["a", "as", "bat", "car", "dove", "python"]
list_compr = [x.upper() for x in strings if len(x) > 2]
list_compr

['BAT', 'CAR', 'DOVE', 'PYTHON']

A dictionary comprehension looks like this:

    dict_comp = {key-expr: value-expr for value in collection if condition}

In [178]:
dict_compr = {value: index for index, value in enumerate(strings)}
dict_compr

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

# Functions and namespaces

In [180]:
# the last scope in which the variable is created is used. Variable defined inside a function are destroyed 
# when the function exits
a = 5
def assign_variable():
    a = 10

assign_variable()
print(a)

5

In [182]:
# it is possible to assign variables defined in the global scope by declaring them global
a = 5
def assign_variable():
    global a
    a = 10

assign_variable()
print(a)

10

In [185]:
# functions sees both local variables and global variables
a = 5
def add_a():
    b = 5 + a
    print(b)
    
add_a()

10