# Wes McKinney Book: Python for Data Analysis

## General Info

## Chapter 2.2

### Useful Jupyter Notebook shorcut
ESC -> enter command mode

**While in Command mode**
* ENTER -> edit cell
* p -> open palette with command list and shortcuts
* m -> change cell to markdown
* y -> change cell to code
* a -> add cell above
* b -> add cell below
* dd -> delete current cell
* ctrl+shift+minus -> split cell at cursor

In [1]:
b = [1, 2, 3]

Check info on a variable:

In [3]:
b?

Check info on a function:

In [4]:
print?

The question mark "?" after a function allows to read the docstring associated. E.g.

In [5]:
def add_numbers(a,b):
    """
    Add two numbers together
    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [6]:
add_numbers?

The question mark can also be used to search the namespace, together with wildcards. e.g.

In [7]:
import numpy as np
np.*load*?

check the type of an object with *isinstance*:

In [8]:
a = 5; 
isinstance(a,int)

True

In [9]:
a = 5; b = 4.5
isinstance(a,(int,float))

True

In [11]:
isinstance(b,int)

False

Integer division, python style vs C-style

In [14]:
# python style -> automatic type conversion
a = 5
b = 2
c = a/b
print(c)
type(c)

2.5

float

In [15]:
# C style -> keep result as integer using the // division:
a = 5
b = 2
c = a // 2
print(c)
type(c)

2

int

### Strings

Strings are immutable. You can't modify them:

In [16]:
a = "this is a string"
a[5] = "f"

TypeError: 'str' object does not support item assignment

To modify them use the command replace

In [17]:
b = a.replace("string", "longer string")
b

'this is a longer string'

"a" will not be changed however:

In [18]:
a

'this is a string'

Many Python objects can be converted to string with *str*

In [19]:
a = 5.6
s =str(a)
print(s)

5.6

/ is used to escape special characters such as /n. A backslash is inserted therefore as //. You can avoid conversion of / in special characters using the raw string format, placing an r outside of the string:

In [20]:
a = r"This is a / raw / string with four ////"

In [21]:
a

'This is a / raw / string with four ////'

You can concatenate strings using the +:

In [22]:
a = "this is the first string, "
b = "this is the second string."
c = a +  b
c

'this is the first string, this is the second string.'

### Datetime objects

In [23]:
from datetime import datetime, date, time

In [28]:
dt = datetime(2023,10,14,17,1,30) # create a datetime object at the given date and time

In [29]:
dt.day

14

In [30]:
dt.minute

1

In [31]:
# extract the date and time objects:
dt.date()

datetime.date(2023, 10, 14)

In [32]:
dt.time()

datetime.time(17, 1, 30)

In [34]:
# formats a datetime object as a string
dt.strftime("%d/%m/%Y at %H:%M")

'14/10/2023 at 17:01'

In [35]:
# parse a string and convert it in datetime object
thedate = "14/10/2023"
dt2 = datetime.strptime(thedate,"%d/%m/%Y")
dt2

datetime.datetime(2023, 10, 14, 0, 0)

In [37]:
# replace time fields of a datetime object
print(dt)
dt_hour = dt.replace(minute=0, second=0)
dt_hour
print(dt_hour)

2023-10-14 17:01:30
2023-10-14 17:00:00

Datetime objects are immutable, so replace creates a new object.

Difference of two datetime objects generate a timedelta object

In [42]:
print(dt)
dt2 = datetime(2023,10,14,15,5,15)
print(dt2)
delta = dt - dt2
delta

2023-10-14 17:01:30
2023-10-14 15:05:15

datetime.timedelta(seconds=6975)

In [44]:
delta2 = dt2 - dt
delta2

datetime.timedelta(days=-1, seconds=79425)

in this case the result is expressed as -1 day = (24*60*60) = -86400 seconds  plus 79425 seconds that leads to:

In [47]:
-24*60*60 + 79425

-6975